
body
{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../photo/cherche.jpg");
	background-size: cover;
	height: 120vh;
	font-family:  "Century Gothic";
}	

ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
}

ul li{
	display: inline-block;
	width: 100px;
	line-height: 55px;
	text-align: center;
	transition: 0.8s;
	border: 1px solid yellow;
}

ul li:hover{
	background-color: yellow;
}

ul li:hover a{
	color: black;
}

ul li:hover ul li{
	display: block;
}


ul li ul li{
	background-color: white;
	display: none;
}

ul li ul li:hover a{
	font-style: italic;
	color: white;
}

ul li ul li:hover{
	background-color: steelblue;
}

ul .mo
{
	display: inline-block;
	width: 125px;
	line-height: 55px;
	text-align: center;
	background-color: white;
	transition: 1.5s ease;
	border: 1px solid transparent;
}

ul .mo:hover
{
	background-color: transparent;
}

ul li .ac
{
	color: black;
	font-weight: bold;
}

ul li a{
	color: yellow;
	text-decoration: none;
	font-weight: bold;
}


.menu
{
	margin-top: 15px;
	max-width: 1500px;
	margin-left: 50px;
}

.beb
{
	position: absolute;
	top: 50%;
	width: 100%;
}

table {
	border-collapse: collapse;
	width: 80%;
	margin-left: 10%;
	margin-bottom: 70px;
}

h1
{
	margin-top: 20px;
	text-align: center;
	margin-left: 300px;
	margin-right: 300px;
	background-color: dodgerblue;
	color: white;
	border: 3px solid transparent; 
	border-radius: 40px;
	transition: 3s ease;
	transition-delay: 3s;
	margin-bottom: 70px;
}

h1:hover
{
	background-color: transparent;
	color: white;
}

th{
	background-color: dodgerblue;
	border: 1px solid white;
	color: white;
	line-height: 55px;
}

td{
	background-color: lime;
	color: black;
	border: 1px solid black;
	text-align: center;
	font-weight: bold;
	line-height: 55px;
}

.requet
{
	border-radius: 50%;
	border: 1px solid transparent;
}

.req1
{
	border-radius: 50%;
	background-color: green;
	transition: 0.9s ease;
	border: 1px solid transparent;
}

.req2
{
	border-radius: 50%;
	background-color: crimson;
	transition: 0.9s ease;
	border: 1px solid transparent;
}

.req1:hover
{
	background-color: green;
	opacity: 0.5;
}

.req2:hover
{
	background-color: crimson;
	opacity: 0.5
}

.p1
{
	position: relative;
	color: white;
	border: 3px solid transparent; 
	border-radius: 40px;
	margin-top: 10px;
	float: left;
	font-size: 40px;
	text-shadow: 30px 20px 7px yellow;
	height: auto;
	text-transform: uppercase;
	font-weight: bold;
	font-style: italic;	
	transition: 3s ease;
	transition-delay: 3s;
}